[Desktop Entry]
Name=Switch to Light theme
Comment=Set GNOME to light mode
Exec=sh -c 'gsettings set org.gnome.desktop.interface color-scheme "default"; gsettings set org.gnome.desktop.interface gtk-theme "Adwaita"'
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;
