[Unit]
Description=ByeDPI proxy server
After=network.target

[Service]
ExecStart=ciadpi --port 4080 --oob 1 --auto=torst --tlsrec 1+s
Restart=always

[Install]
WantedBy=multi-user.target
