[Unit]
Description=Maximize the NVIDIA RTX 3060 performance in Wayland sessions
After=nvidia-persistenced.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi -lmc 7500
ExecStart=/usr/bin/nvidia-smi -lgc 1837,2160

[Install]
WantedBy=multi-user.target
